/* Generics */

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Main Content */

main {
    background-color: black;
    height: calc(100vh - 80px);
    position: relative;
    padding: 60px;
}

main>.view-settings {
    position: absolute;
    top: 10px;
    right: 10px;
}

.top-right-settings {
    background-color: #4A4A4A;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 14px;
}

/* Users */

.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.user {
    position: relative;
}

.user-name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    padding: 5px;
    font-size: 14px;
}

/* Footer */

footer nav {
    display: flex;
    height: 80px;
    background-color: #222222;
    justify-content: space-between;
}

nav i {
    font-size: 30px;
}

.left-footer-menu,
.center-footer-menu {
    display: flex;
    align-items: center;
}

.footer-setting-button {
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.footer-setting-button>.footer-setting-info {
    display: block;
    font-size: 14px;
    margin-top: 5px;
}

.footer-setting-button-more {
    display: inline-block;
    margin-right: 10px;
}

.fa-chevron-up {
    font-size: 12px;
    line-height: 80px;
}

.end-meeting-button {
    height: 100%;
    padding: 0 20px;
    background-color: #4A4A4A;
    color: red;
    font-weight: bold;
}