/* Generics */

body {
    color: white;
}

/* Main Content */

main {
    background-color: black;
    height: 100vh;
    position: relative;
    padding: 60px;
}

main>.view-settings {
    position: absolute;
    top: 10px;
    right: 10px;
}

.top-right-settings {
    background-color: #4A4A4A;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 14px;
}

/* Users */

.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.user {
    position: relative;
}

.user-name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    padding: 5px;
}